@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <noscript>
            <meta http-equiv="refresh" content="900">
        </noscript>
        <!-- 900 sec == 15 minutes,  should be enough time for refresh if data source has update every hour -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/refresher.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
